{% extends 'jeu_de_role/explore.html' %}

{% block title %}Ajouter un Lieu{% endblock %}

{% block content %}
<h2 class="text-center mb-4">Ajouter un Lieu</h2>

{% if message %}
<div class="alert alert-danger mt-2" role="alert">
    {{ message }}
</div>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-2">
        {% for field in form %}
            <div class="row mb-2">
                <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label text-white">{{ field.label }}</label>
                <div class="col-sm-9">
                    {{ field }}
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-lg text-white">Ajouter</button>
    </div>
</form>

<div class="text-center">
    <a href="{% url 'explore' %}?tab=lieux" class="btn btn-lg mt-3">Retour à la liste</a>
</div>
{% endblock %}
