{% block content %}
<h2 class="text-center mb-3">Liste des Personnages</h2>

{% if page_obj_characters %}
<div id="charactersCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row justify-content-center">
        {% for character in page_obj_characters %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card" style="margin: 10px; width: 100%; max-width: 14rem;">
            <img src="{{ character.photo.url }}" class="card-img-top" alt="{{ character.nom }}">
            <div class="card-body">
              <h5 class="card-title">{{ character.nom }}</h5>
            </div>
            <a href="{% url 'character_detail' character.id_character %}" class="btn btn-lg">Voir Détails</a>
            <a href="{% url 'delete_character' character.id_character %}" class="btn btn-lg mt-3">Supprimer</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#charactersCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#charactersCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>

<!-- Pagination des personnages -->
<div class="d-flex justify-content-center mt-2">
  <div class="pagination">
    {% if page_obj_characters.has_previous %}
      <a href="?page_characters={{ page_obj_characters.previous_page_number }}" class="btn btn-lg">Précédente</a>
    {% endif %}
    {% if page_obj_characters.has_next %}
      <a href="?page_characters={{ page_obj_characters.next_page_number }}" class="btn btn-lg">Suivante</a>
    {% endif %}
  </div>
</div>

<div class="text-center mt-1">
  <a href="{% url 'add_character' %}" class="btn btn-lg">Ajouter un personnage</a>
</div>
{% else %}
<p class="text-center">Aucun personnage disponible.</p>
{% endif %}

{% endblock %}
