{% extends 'jeu_de_role/explore.html' %}

{% block title %}Détails des Lieux{% endblock %}

{% block content %}
<h2 class="text-center mb-2">{{ lieu.nom }}</h2>

<div class="container mt-2">
    <div class="card shadow-lg h-100 d-flex flex-column">
        <img src="{{ lieu.photo.url }}" class="img-fluid mt-2 rounded d-block mx-auto" style="width: 320px;"  alt="{{ character.lieu.nom }}">
        <div class="card-body text-center">
            <p><strong></strong> {{ lieu.description}}</p>
            <p><strong>Disponibilite :</strong> {{ lieu.disponibilite }}</p>
            <p><strong>Niveau d'accés :</strong> {{ lieu.niveau_acces }}</p>
            <p><strong>Capacité :</strong> {{ lieu.capacite_max }}</p>

        </div>
    </div>

    <div class="text-center">
        <a href="{% url 'explore' %}?tab=lieux" class="btn mt-2 btn-lg">Retour à la liste</a>
    </div>
</div>

{% endblock %}