{% block content %}

<h2 class="text-center mb-4">Liste des Lieux</h2>
{% if lieux %}
<div class="row g-2">
    {% for lieu in lieux %}
    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="card h-100">
            <img src="{{ lieu.photo.url }}" class="card-img-top" alt="{{ lieu.nom }}">
            <div class="card-body">
                <h5 class="card-title">{{ lieu.nom }}</h5>
                <a href="{% url 'lieu_detail' lieu.pk %}" class="btn btn-primary">Voir Détails</a>
                <a href="{% url 'delete_lieu' lieu.id_lieu %}" class="btn btn-primary mt-3">Supprimer</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="text-center mt-4">
        <a href="{% url 'add_lieu' %}" class="btn btn-primary">Ajouter un Lieu</a>
    </div>
</div>
{% else %}
<p class="text-center">Aucun lieu disponible pour le moment.</p>
{% endif %}

{% endblock %}
